.container-fluid{
  background-image: url("../img/grass.png");
  background-repeat : no-repeat;
  background-size: cover; 
}
#mysvg{
  width:550px;
  height:550px;
  position: relative;
  left :10%;
}

.groupbtn{
  margin-top: 10px;
  margin-bottom:10px;
}


